
# Extras for the wheel file

arxiv
autogen
chromadb
crawl4ai
dashscope
duckduckgo-search
google-search-results
gradio
# Wheel file from URL
https://cloudai.cirrascale.com/sdk/_downloads/3433649516f5c32f3603ae6f98c65e48/imagine_sdk-0.4.2-py3-none-any.whl
imagine_sdk[langchain]
ipykernel
ipython
ipywidgets
jupyter
jupyterlab
langchain
langchain-chroma
langchain-community
markdown-pdf
matplotlib
modelscope_studio~=1.0.0b
openai
pandas
pip
reportlab
streamlit
yfinance
